{% extends "base.html" %}
{% block page_title %}
  FinPes - Resumo Centro Custo
{% endblock page_title %}

{% block content %}
    <h2 class="p-3">Transações por Centro de Custo</h2>
    
    <form action="" method="get">
        {% csrf_token %}
        {{form_filter}}
    </form>
    <hr/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Centro de custo</th>
                        <th scope="col">Total</th>
                        <th scope="col">Detalhes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in transacao_list %}
                    <tr>
                        <td>{{item.forma_pagto__centro_custo__sigla}}</td>
                        <td>{{item.total|floatformat:2}}</td>
                        <td><button class="btn btn-light btn-sm detail" 
                            data-chave="forma_pagto__centro_custo__sigla" 
                            data-filter="{{item.forma_pagto__centro_custo__sigla}}">Detalhes <i class="fa-solid fa-ellipsis"></i></button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <th scope="col">Quantidade: {{total_rows.total_count}}</th>
                        <th scope="col">Total: R$ {{total_rows.total_sum|floatformat:2}}</th>
                        <th></th>
                    </tfoot>
                </table>
            </div>
            <div class="col-7">
                <canvas id="consumoChart"></canvas>
            </div>
        </div>
    </div>

    <h3 class="p-3" id="title-detail"></h3>
    <div class="text-bg-light p-3" id="transactions_detail">
        <i>Clique em "Detalhes..."</i>
    </div>

{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'filter_detail.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'load_chart.js'%}"></script>
<script>
    let ano = document.getElementById('select_year').value;
    let mes = document.getElementById('select_month').value;
    let endpoint = '{% url "chart_centro_custo" "Janeiro" "2025" %}'
    endpoint = endpoint.replace('Janeiro', mes)
    endpoint = endpoint.replace('2025', ano)
    let consumoCtx = document.getElementById("consumoChart").getContext("2d");
    let consumoChart = new Chart(consumoCtx, {
        type: "bar",
        options: {
        responsive: true,
            title: {
            display: false,
            text: ""
            }
        }
    });

    loadChart(consumoChart, endpoint);

 </script>
{% endblock javascript %}
